@use '../styles/variables'as *;

.skill-areas-border {
  display: grid;
  grid-template: repeat(2, auto) / 1fr;

  &>div {
    @include skill-centered;

    margin: 20px 0;
    border: 3px solid $color-border;
    padding: 10px;
    transform: rotate(-45deg);
    inline-size: 50px;
    border-radius: $b-radius;

    img {
      transform: rotate(45deg);
    }
  }
p {
  @include skill-centered;
}
}