@use '../variables'as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(302deg, #0652c5 -100%, #626cc0 50%, #d4418e 200%);
  color:$color-text;
  }

.text__ {

  &subtitle {
    @include subtitle;
  }

  &paragraph {
    @include paragraph;
  }
}