@use '../variables/'as *;

.profile {

  &__image {
    display: flex;
    justify-content: center;
    margin-top: 5%;

    img {
      inline-size: 50%;
      border-radius: 5%;
    }
  }

  &__text {
    &>h1 {
      @include title-name;
    }

    &>h2 {
      @include title-job;
    }
  }
}