.skills {

  &-areas {

    &__list {
      display: grid;
      grid-template: repeat(8, 1fr) / 1fr;
      list-style: none;
      padding: 0;
    img {
      block-size: 50px;
      inline-size: 50px;
    }
    }
  }
}