$color-bg: linear-gradient(316deg, #0652c5 -100%, #626cc0 50%, #d4418e 200%);
$color-bg-light-transparent: hsl(236deg 100% 92% / 30%);
$color-bg-dark-transparent: hsl(235deg 10% 23% / 30%);

$color-text: #e0ebff;
$color-border: #D6D9FF;