@use './fonts'as *;

@mixin title-name {
  font-family: $font-title;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin-top: 50px;
  }

  @mixin title-job {
    font-family: $font-title;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
  }

  @mixin title-name-wide {
    font-family: $font-title;
  text-align: left;
  font-weight: 700;
  font-size: 60px;
}

@mixin title-job-wide {
  font-family: $font-title;
  text-align: left;
  font-weight: 400;
  font-size: 30px;
}

@mixin subtitle {
  font-family: $font-body;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-top: 100px;
}

@mixin paragraph {
  font-family: $font-body;
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
}

@mixin skill-centered {
  display: flex;
  justify-self: center;
  align-self: center;
}
